/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  display: flex;
  height: 90px;
  width: 135px;
  margin: 0 0 0 20px !important;
}

.navbar-nav {
  margin: 0 0 0 40px;
  justify-content: center !important;
  align-items: center;
}


.container {
  max-width: 960px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}

.table-striped>tbody>tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive {
  max-width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 576px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 1rem;
    overflow-y: visible;
  }

  .table-responsive>.table {
    margin-bottom: 0;
  }
}
